{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block sidebar %}
{% include "sidebar.html" %}
{% endblock %}
{% block pagetitle %}
Master Barang
{% endblock %}
{% block contents%}
<table class="table table-bordered">
    <tr>
        <th>Kode Barang</th>
        <th>Nama Barang</th>
        <th>Harga Dasar</th>
        <th>Stok Awal</th>
        <th>Satuan</th>
        <th>Aksi</th>
    </tr>
    {% for row in table %}
    <tr>
        <td class="name">{{ row.code }}</td>
        <td class="name">{{ row.name }}</td>
        <td class="name">{{ row.base_price }}</td>
        <td class="name">{{ row.base_stock }}</td>
        <td class="name">{{ row.unit }}</td>
        <td>
            <a class="btn btn-secondary" href="{% url 'edit-product' row.id %}"><i class="fa fa-edit"></i></a>
            <a class="btn btn-danger" href="{% url 'delete-product' row.id %}"><i class="fa fa-trash"></i></a>
        </td>
    </tr>
    {% endfor %}
</table>
<form method="post">
    {% csrf_token %}
    {{form|crispy}}
    <div class="text-right">
        <input class="btn btn-secondary" type="reset" value="Hapus Isian">
        <input class="btn btn-primary" type="submit" value="Masukkan">
    </div>
</form>
<!-- /.row -->
{% endblock %}